webservicesongsoap-soapui-project.xml

<wsdl:definitions targetNamespace="http://www.example.com/webservicesongsoap/gen" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.example.com/webservicesongsoap/gen" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.com/webservicesongsoap/gen">
    <wsdl:types>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://www.example.com/webservicesongsoap/gen" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <!-- Find All -->
            <xs:element name="getSongsRequest">
                <xs:complexType>
                    <xs:sequence>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSongsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="songs" type="tns:song"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Find by ID -->
            <xs:element name="getSongByIdRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSongByIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="song" type="tns:song"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Save -->
            <xs:element name="postSongRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="song" type="tns:song"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="postSongResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="song" type="tns:song"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Delete -->
            <xs:element name="deleteSongRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteSongResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="message" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Update -->
            <xs:element name="updateSongRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="song" type="tns:song"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateSongResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="message" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="song">
                <xs:sequence>
                    <xs:element name="Id" type="xs:int"/>
                    <xs:element name="Name" type="xs:string"/>
                    <xs:element name="Path" type="xs:string"/>
                    <xs:element name="Plays" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getSongsRequest">
        <wsdl:part element="tns:getSongsRequest" name="getSongsRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSongsResponse">
        <wsdl:part element="tns:getSongsResponse" name="getSongsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSongByIdRequest">
        <wsdl:part element="tns:getSongByIdRequest" name="getSongByIdRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSongByIdResponse">
        <wsdl:part element="tns:getSongByIdResponse" name="getSongByIdResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="postSongRequest">
        <wsdl:part element="tns:postSongRequest" name="postSongRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="postSongResponse">
        <wsdl:part element="tns:postSongResponse" name="postSongResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteSongRequest">
        <wsdl:part element="tns:deleteSongRequest" name="deleteSongRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteSongResponse">
        <wsdl:part element="tns:deleteSongResponse" name="deleteSongResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateSongRequest">
        <wsdl:part element="tns:updateSongRequest" name="updateSongRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateSongResponse">
        <wsdl:part element="tns:updateSongResponse" name="updateSongResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="songPort">
        <wsdl:operation name="getSongs">
            <wsdl:input message="tns:getSongsRequest" name="getSongsRequest"></wsdl:input>
            <wsdl:output message="tns:getSongsResponse" name="getSongsResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSongById">
            <wsdl:input message="tns:getSongByIdRequest" name="getSongByIdRequest"></wsdl:input>
            <wsdl:output message="tns:getSongByIdResponse" name="getSongByIdResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="postSong">
            <wsdl:input message="tns:postSongRequest" name="postSongRequest"></wsdl:input>
            <wsdl:output message="tns:postSongResponse" name="postSongResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteSong">
            <wsdl:input message="tns:deleteSongRequest" name="deleteSongRequest"></wsdl:input>
            <wsdl:output message="tns:deleteSongResponse" name="deleteSongResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateSong">
            <wsdl:input message="tns:updateSongRequest" name="updateSongRequest"></wsdl:input>
            <wsdl:output message="tns:updateSongResponse" name="updateSongResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="songPortSoap11" type="tns:songPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getSongs">
            <soap:operation soapAction=""/>
            <wsdl:input name="getSongsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getSongsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSongById">
            <soap:operation soapAction=""/>
            <wsdl:input name="getSongByIdRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getSongByIdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="postSong">
            <soap:operation soapAction=""/>
            <wsdl:input name="postSongRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="postSongResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteSong">
            <soap:operation soapAction=""/>
            <wsdl:input name="deleteSongRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteSongResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateSong">
            <soap:operation soapAction=""/>
            <wsdl:input name="updateSongRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateSongResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="songPortService">
        <wsdl:port binding="tns:songPortSoap11" name="songPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
